@model MathMasters.Models.CreateCourse

@{
    ViewBag.Title = "Create";
}
<h2>Create a new course</h2>
<div style="display:flex">
    <div class="sidebar" style="background-color: lightgray; align-content:center; padding: 10px; width:20%; position: 0; justify-content:center">
        <img src="~/Images/YoungBoy.jpg" alt="Young Boy" width="150" height: auto; style="display: block; margin-left: auto; margin-right: auto; padding-top:10px">
        <h3 style="text-align:center; padding-top: 5px; padding-bottom: 10px">Elementary Math Courses include</h3>
        <p>  Elementary Math</p>
        <p>  MathCounts</p>
        <p>  High School Prep</p>
        <p>  MOEMS Prep</p>
        <p>  Let's Meet the Numbers</p>
        <img src="~/Images/Arithmetic.jpg" alt="Arithmetic" width="150" height: auto; style="display: block; margin-left: auto; margin-right: auto; padding-top:10px">
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CourseDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CourseDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
