@model IEnumerable<MathMasters.Models.AllCourseList>

@{
    ViewBag.Title = "Index";
}

<h2>List of Courses</h2>

<p>
    @Html.ActionLink("Add a Course", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<div style="display:flex">
    <div class="sidebar" style="background-color: lightgray; align-content:center; padding: 10px; width:20%; position: 0; justify-content:center">
        <img src="~/Images/YoungBoy.jpg" alt="Young Boy" width="150" height: auto; style="display: block; margin-left: auto; margin-right: auto; padding-top:10px">
        <h3 style="text-align:center; padding-top: 5px; padding-bottom: 10px">Elementary Math Courses include</h3>
        <p>  Elementary Math</p>
        <p>  MathCounts</p>
        <p>  High School Prep</p>
        <p>  MOEMS Prep</p>
        <p>  Let's Meet the Numbers</p>
        <img src="~/Images/Arithmetic.jpg" alt="Arithmetic" width="150" height: auto; style="display: block; margin-left: auto; margin-right: auto; padding-top:10px">
    </div>
    <div style="position:relative">
        <table class="table">
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.CourseId)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CourseId)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
