@model IEnumerable<MathMasters.Models.AllTutorList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="display:flex">
    <div class="sidebar" style="background-color: lightgray; align-content:center; padding: 10px; width:30%; position: 0; justify-content:center">
        <img src="~/Images/Einstein.jpg" alt="Einstein" width="200" height: auto; style="display: block; margin-left: auto; margin-right: auto; padding-top:10px">
        <h4 style="text-align:center; padding-top: 5px; padding-bottom: 10px">Our Tutors are skilled educators and are dedicated to helping students learn mathematics, build their confidence, and reach their goals.</h4>
        <ul>
            <li>75% have advanced degrees in mathematics or physical sciences</li>
            <li>Specialist in elementary and secendary mathematics</li>
            <li>All tutors must pass a rigorous screening process to ensure each has a strong foundation in mathematics AND can translate complex concepts to students in a relatable way </li>
        </ul>
        <img src="~/Images/TutorFemale.jpg" alt="TutorFemale" width="200" height: auto; style="display: block; margin-left: auto; margin-right: auto; padding-top:10px">
    </div>
    <div style="padding-left: 10px">
        <p>
            @Html.ActionLink("Add a Tutor", "Create")
        </p>
        @if (TempData.ContainsKey("SaveResult"))
        {
            <div class="alert alert-success fade in" role="alert">

                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
                @TempData["SaveResult"]
            </div>
        }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TutorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TutorName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TutorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TutorName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TutorId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TutorId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TutorId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
